.body {
  background-color: black;
  color: white;
}
.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.button_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.yes_button {
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
}

.no_button {
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
}

@keyframes turn {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}


.koala {
  animation: turn 2s infinite ease-in-out;
}
